*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: $font-body;
  color: $color-text;
  background: $color-bg;
  line-height: 1.6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: $color-primary;
  text-decoration: none;

  &:hover {
    color: $color-primary-dark;
    text-decoration: underline;
  }
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4 {
  font-family: $font-heading;
  line-height: 1.3;
  font-weight: 700;
}

h1 { font-size: 1.75rem; }
h2 { font-size: 1.4rem; }
h3 { font-size: 1.15rem; }

button, select, input {
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
}

input {
  cursor: text;
}
